<% include base.ejs %>

<script>
	var initApplSize = 3;
  $(document).ready(function() {
		for(var i=0; i<initApplSize; i++)
			addApplication();
		
		initMenu();
		
		setSubMenuConfirmMode();
	});
	
	function initMenu() {
		bindMousedownEvent();
		
		$(window).unload(function() {
			hideSubMenuPanel();
		});
	}
	
	function clickAddApplicationButton() {
		addApplication();
	}
	
	function clickDeleteApplButton(delNum) {
		var applNode = $('section#body article.application[num="'+delNum+'"]');
		deleteApplication(applNode, delNum);
	}
	
	function okayPattern() {
		if(!checkPttnAndApplsValue())
			return;
			
		$('section#body form').trigger('submit');
	}
	
	function clickOkayAndSeeButton() {
		if(!checkPttnAndApplsValue())
			return;
		
		$.cookie('okay_and_see', 1, { path: '/' });
		$('section#body form').trigger('submit');
	}
	
	function clickOkayAndContButton() {
		if(!checkPttnAndApplsValue())
			return;
		
		$.cookie('okay_and_cont', 1, { path: '/' });
		$('section#body form').trigger('submit');
	}
	
	function checkPttnAndApplsValue() {
		var textLen = $('section#body input[name=pttn_text]').val().length;
		var meanLen = $('section#body input[name=pttn_mean]').val().length;
		if(textLen == 0 || meanLen == 0) {
			alert('패턴과 뜻을 모두 입력하세요.');
			return false;
		}
		
		var applExist = false;
		$('section#body input[name=appl_text]').each(function(index, item) {
			if($(item).val().length > 0)
				applExist = true;
		});
		if(!applExist) {
			alert('적어도 하나의 예문을 입력하세요.');
			return false;
		}
		
		var pass = true;
		$('section#body article.application').each(function(index, item) {
			var textLen = $(item).find('input[name=appl_text]').val().length;
			var meanLen = $(item).find('input[name=appl_mean]').val().length;
			if((textLen > 0 && meanLen == 0) || (textLen == 0 && meanLen > 0)) {
				alert('예문과 뜻을 모두 입력하세요.');
				pass = false;
				return;
			}
		});
		
		return pass;
	}
	
	function cancelPattern() {
		var path = $.cookie('urlBeforeAddPattern'); 
		if(path && path.length > 0)
			document.location = location.origin + path;
		else
			document.location = location.origin;
	}
</script>
		
<form method="post">
	<article class="pattern">
		　패턴
		<span id="language">
			<select name="language">
			<% for(var i in langs) { %>
				<% if(langs[i].code == sel_lang_code) { %>
					<option value="<%= langs[i].code %>" selected="selected"><%= langs[i].name %></option> 
				<% } else { %>
					<option value="<%= langs[i].code %>"><%= langs[i].name %></option>
				<% } %>
			<% } %>
			</select>
		</span>
		<input type="text" name="pttn_text" placeholder="패턴" maxlength="100"/>
		<br/>
		<input type="text" name="pttn_mean" placeholder="뜻" maxlength="100"/>
	</article>
	<br/>
	<div class="applications">
	</div>
	<div class="button" id="add" onclick="clickAddApplicationButton()"/>예문 추가</div>
	<br/>
	<table id="buttons">
		<tr>
			<td class="okay">
				<span id="okay" onclick="clickPatternOkayButton()">확인</span>
			</td>
			<td class="cancel">
				<span id="cancel" onclick="clickPatternCancelButton()">취소</span>
			</td>
		</tr>
		<tr>
			<td>
				<span id="and_see" onclick="clickOkayAndSeeButton()">　& 보기</span>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>
				<span id="and_cont" onclick="clickOkayAndContButton()">　& 계속</span>
			</td>
			<td></td>
		</tr>
	</table>
</form>

<% include ../footer.ejs %>
